

footer img{
  position: relative;
  
}

main img {
  position: relative;
  }

#mainp {
  position: absolute;
  
  position: absolute;
  top: 0px;
  left: 0px;
}

#footerp {
  position: absolute;
  top: 100px;
  left: 0px;
}

  