

#im{
  position: relative;
  height: 100px;
  
}

main img {
  position: relative;
  }

#mainp {
  position: absolute;
  top: 40%;
  right: 3%;
  
}
.test{
  color: yellow;
  text-align: right;
  ;
  
  
}

#footerp {
  position: absolute;
  
  top: 80%;;
  left: 10%; 
}

.wimp{
  border-radius: 100%;
  border: 3px solid white;
  margin: 15px;

}
  