
/*
.first{
  display: grid;
  grid-template-columns: repeat(3fr, 1fr;
  
}

.firstgrid{
  grid-column:1/3;
  grid-row:1/2;
  width: 200px;
  
}
/*.secondgrid p{
  color:white;
  background-color: red;
  padding: 5px;

.secondgrid{
  grid-column:3/4;
  width: 50%;
  grid-row:1/2;
} */
/*#firstgrid img{
  width: 50%;
  box-shadow: 5px 5px 10px #6f7364;
}*/

/*.second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.thirdgrid{
  grid-column:1/3;
  grid-row: 2/3;
}
.fourthgrid{
  grid-column:3/4;
  grid-row: 2/3;
} 
*/
/* second part  */
.man{
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
}

  
.one{
  grid-column: 1/2;
  grid-row: 3/4;
}
.two{
  grid-column: 2/3;
  grid-row: 3/4;
}
.three{
  grid-column: 3/4;
  grid-row: 3/4;
}