/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Sansita&display=swap');



:root {
  /* change the values below to your colors from your palette */
  --primary-color: #6F8AB7;
  --secondary-color: #202C59;
  --accent1-color: #DB7F8E;
  --accent2-color: #D19C1D;
  --accent3-color: #FCFFF7;

  /* change the values below to your chosen font(s) */
  --heading-font: "Sanista", Helvetica, sans-serif;
  --paragraph-font: Acme, serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #202C59;  /* headlines on a white background */ 
  --headline-color-on-color: #6F8AB7; /* headlines on a colored background */ 
  --paragraph-color-on-white: #DB7F8E; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #D19C1D; /* paragraph text on a colored background */ 
  --paragraph-background-color: #FCFFF7;
  --nav-link-color: #DB7F8E;
  --nav-background-color: #FCFFF7;
  --nav-hover-link-color: #202C59;
  --nav-hover-background-color: #DB7F8E;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  padding: 1em;
  font-size: 22px;
  text-align: center;
  background-color: var(--primary-color);
  margin: 0 auto;
  
}

img {
  display: block;
  margin: 0 auto;
}

#rocket{
  width: 80vw;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  
  background-color: var(--nav-background-color);
  width: 100vw;
  display:grid;
  grid-template-columns: 150px auto;
}
 



p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 2em;
}

nav  {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
  line-height: 2em;
  text-align: center;
  font-size: 1.2em;

}
nav a {
  
  min-width: 120px;
  text-decoration: none;
  

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#factbox{
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 70vw;
  grid-column-gap: 15px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 1em;
  align-items: center;
}

#factbox img{
  width: 80%;
  height: 60%;
}
.page{
  background-color: #FCFFF7;
  border-width: 0px 10px 10px 0px;
  border-style: solid;
  
  
}

.heros{
  border: 15px solid #202C59;
  color: #FCFFF7;
  margin-top: 10em;
  border-radius: 5px;
}

#last {
  text-align: Center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-teplate-rows: 1fr auto;
}

#last img{
  width: 40vw;
}
#last h2{
  grid-column:1/4;
  grid-row:1/2;
}
footer{
  background-color: #202C59;
  color: #FCFFF7;
  padding: 1em;
  text-align: center;
  font-size: .8em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  

}