  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Sansita&display=swap');



:root {
  --primary-color: #6F8AB7;
  --secondary-color: #202C59;
  --accent1-color: #DB7F8E;
  --accent2-color: #D19C1D;
  --accent3-color: #FCFFF7;

  --heading-font: "Sanista", Helvetica, sans-serif;
  --paragraph-font: Acme, serif;

  --headline-color-on-white: #202C59;  /* headlines on a white background */ 
  --headline-color-on-color: #6F8AB7; /* headlines on a colored background */ 
  --paragraph-color-on-white: #DB7F8E; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #D19C1D; /* paragraph text on a colored background */ 
  --paragraph-background-color: #FCFFF7;
  --nav-link-color: #DB7F8E;
  --nav-background-color: #FCFFF7;
  --nav-hover-link-color: #202C59;
  --nav-hover-background-color: #DB7F8E;
}




body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  background-color: var(--primary-color);
  
  
}
#tent{
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 2em;
}

#rocket{
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}



header {
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--nav-background-color);
  border-bottom: 10px solid #DB7F8E;
  display:grid;
  grid-template-columns: 150px auto;
}
 



p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 2em;
}

nav  {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--nav-background-color);
  line-height: 4em;
  text-align: center;
  font-size: 1.2em;
  justify-content: space-around;

}
nav a {
  min-width: 120px;
  text-decoration: none;
  color:#6F8AB7;
  

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
aside p{
  background-color: #202C59;
}

#factbox{
  display: grid;
  grid-template-columns: 10em 1fr;
  width: 80vw;
  grid-column-gap: 15px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 1em;
  align-items: center;
  text-align: center;
}

#factbox img{
  width: 80%;
  height: 60%;
}

.page{
  background-color: #FCFFF7;
  border-width: 0px 10px 10px 0px;
  border-style: solid;
  
  
}


.heros{
  border: 15px solid #202C59;
  color: #FCFFF7;
  border-radius: 5px;
}

#last {
  text-align: Center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto;
}

#last img{
  width: 40vw;
  border: 7px solid #FCFFF7;
}


#last h2{
  grid-column:1/4;
  grid-row:1/2;
}

#last aside p{
  transition: background-color 0.3  ease-in-out;
}

#last aside p:hover{
  background-color: #FCFFF7;
}

footer h3 a{
  color:  #FCFFF7;
}


footer{
  background-color: #202C59;
  color: #FCFFF7;
  padding: 1em;
  text-align: center;
  font-size: .8em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}


#media{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: space-between;
}









@media screen and (max-width: 900px) {
 
  #rocket, .heros {
    display: block;
    height: auto;
  }
  
  nav {
    flex-direction: column;
    max-height: auto;
  }
  
  nav a {
    display: block;
    padding: 5px;
    max-height: 100px;
  }

  #rocket {
    margin-top: 0;
  }

  footer {
    margin-top: 25px;
    flex-direction: column;
  }

  #factbox, #last{
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  }
}